/* fonts

font-family: 'Baloo 2', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;

*/

/* Main Body Styling */
body {
    background: url('https://wallpaperaccess.com/full/1146179.jpg') top center no-repeat;
    font-family: 'Nunito', sans-serif;
}

/* Navagation Bar styling */
nav {
    margin: 10px;
    font-family: 'Oswald', sans-serif;
}

.title-link{
    font-family: 'Baloo 2', cursive;
}

.title-link:link {
    color: black;
}
.title-link:visited {
    color: black;
}
.title-link:hover {
    color: #0066da;
}

a:link {
    color: #0066da;
}
a:hover {
    text-decoration: none;
    color: #2e8efb;
}

/* Question Button Styling */

button {
    width: auto;
    margin: 20px auto;
}

#container {
    background-color: #f7f7f7d0;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.main-content {
    margin: 50px auto;
}

.hide {
    display: none;
}

.show {
    display: block;
}
/* Message Div styling for error/success messages */

#msg {
    visibility: hidden;
    margin-top: 20px;
    font-weight: 700;
    height: 1.2em;
    font-size: 1.2em;
}

#msg.success, #msg.error {
    visibility: visible;
}

#msg.success {
    color: #52b155;
}

#msg.error {
    color: #e6252c;
}

/* Timer styling */

.timer {
    font-size: 25px;
}

#timer {
    font-size: 40px;
}

.green-time {
    color: #00ce00;
}

.red-time {
    color: red;
}

.blinking{
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: red;    }
}

#highscoresDiv {
    width: 50%;
    margin: 0 auto;
    background-color: #f7f7f7d0;
    padding: 20px;
    border-radius: 20px;
}